section.home-screen
        .container.grid-layout
            .grid-layout-left
                .cate-outer
                    .tt.tt-cate.text-uppercase
                        span.far.fa-list.mr-2
                        | Danh mục sản phẩm
                    - cate1 = "Cồn Y Tế - Ethanol"
                    - cate2 = "Kit test nhanh"
                    - cate3 = "Y Tế Gia Đình"
                    - cate4 = "Khẩu Trang Y Tế"
                    - cate5 = "Máy đo nồng độ Oxy"
                    - cate6 = "Sản phẩm khác"
                    ul.cate-inner 
                        li.cate-inner-item
                            +a('products.html', 'd-flex align-items-center')
                                span.icon: +img('icon/1.png')
                                span.text=cate1
                        li.cate-inner-item
                            +a('products.html', 'd-flex align-items-center')
                                span.icon: +img('icon/2.png')
                                span.text=cate2
                        li.cate-inner-item
                            +a('products.html', 'd-flex align-items-center')
                                span.icon: +img('icon/3.png')
                                span.text=cate3
                        li.cate-inner-item
                            +a('products.html', 'd-flex align-items-center')
                                span.icon: +img('icon/4.png')
                                span.text=cate4
                        li.cate-inner-item
                            +a('products.html', 'd-flex align-items-center')
                                span.icon: +img('icon/5.png')
                                span.text=cate5
                        li.cate-inner-item
                            +a('products.html', 'd-flex align-items-center')
                                span.icon: +img('icon/6.png')
                                span.text=cate6
            .grid-layout-right
                .home-slider 
                    .carousel-cell
                        .img-slide: +img('slider/slider_01.jpg')
                        .container.absolute.d-flex
                            .text-slider
                                .tt-lg Khẩu trang Y tế đạt chuẩn Quốc tế N95
                                .desc Hiệu quả - an toàn - độ chính xác cao. Là thiết bị y tế cực kỳ quan trọng mà mỗi nhà nên có, đặc biệt với những người mắc covid-19
                    .carousel-cell
                        .img-slide: +img('slider/slider_02.jpg')
                        .container.absolute.d-flex
                            .text-slider
                                .tt-lg Máy đo nồng độ Oxy trong máu - SP02
                                .desc Hiệu quả - an toàn - độ chính xác cao. Là thiết bị y tế cực kỳ quan trọng mà mỗi nhà nên có, đặc biệt với những người mắc covid-19
                .slide-box 
                    .slide-box-item.block
                        +img('theme/slidebox0.jpg')(class="fit-cover img-bg")
                        .tt.text-uppercase.mb-0 Cam kết chất lượng Kim cương
                    .slide-box-item.block
                        +img('theme/slidebox2.jpg')(class="fit-cover img-bg")
                        .tt.text-uppercase.mb-0 Hỗ trợ Khách hàng 24/7
                    .slide-box-item.block
                        +img('theme/slidebox3.jpg')(class="fit-cover img-bg")
                        .tt.text-uppercase.mb-0 Hỗ trợ thanh toán linh hoạt
